<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">ResvApp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/reservas">Hacer Reservas</a>
                <a class="nav-link" href="/reservas/list?clear=true">Listar Reservas</a>
            </div>
            <div class="navbar-nav ms-auto">
                <% if(!currentUser){ %> 
                    <a class="nav-link" href="/user/login">Login</a>
                    <a class="nav-link" href="/user/registrar">Registrarse</a>
                <% }else{ %>
                    <a class="nav-link" href="/user/editar">Editar Perfil</a> 
                    <a class="nav-link" href="/user/logout">Logout</a>
                <% } %>     
            </div>
        </div>
    </div>
</nav>